/* .heading{
    color: cadetblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-decoration: underline;
}
h2{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: cornflowerblue;
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgrey;
}
button{
    background-color: black;
    color: white;
    width: 90px;
    height: 43px;
    border-radius: 30px;
    font-size: 15px;
}
button:hover{
    background-color: cadetblue;
    color: white;
}
body{
    background-color: aliceblue;
} */


 /* .content{
    color: red;
    font-size: 30px;
 }
 .newClass{
    background-color: green;
 } */
/* 
 div{
    height: 250px;
    width: 190px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: aquamarine;
    font-size: 30px;
 } */
